<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ndkapp.www.tuktuk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".account"></activity>
        <activity android:name=".aboutus"></activity>
        <activity
            android:name=".ridebooked"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".driverinfo"
            android:theme="@style/driver" />
        <activity android:name=".varification" />
        <activity
            android:name=".afterLoggedIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".logoactivity"
            android:screenOrientation="portrait"
            android:theme="@style/logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signupactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-permission
        android:name="android.permission.CALL_PHONE"
        tools:ignore="ManifestOrder" />

</manifest>